<div class="container mt-3">
  <div class="d-flex align-items-center">
  <h1 class="me-4"><%= @task.title %></h1>
    <%= link_to task_path(@task),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
    <i class="fa-solid fa-trash-can font-size"></i>
    <% end %>
  </div>
  <p><%= @task.details %></p>

  <div class="mt-5">
    <p><%= link_to 'Back to list', tasks_path %></p>
    <p><%= link_to 'Edit task', edit_task_path %></p>
  </div>
</div>
